// Buttons

.btn {
  display       : inline-block;
  text-align    : center;
  cursor        : pointer;
  color         : inherit;
  font-weight   : $font-weight-bolder;
  border        : none;
  outline       : none;
  padding       : 1rem;
  vertical-align: middle;
  user-select   : none;
  border-radius : $border-radius-lg;
  transition    : $transition-m;
  white-space   : nowrap;

  &-icon {
    width          : 2rem;
    height         : 2rem;
    background     : none;
    display        : flex;
    justify-content: center;
    align-items    : center;

    &:hover {
      background: $grey;
    }

    &:focus,
    &.active {
      background: darken($grey, 15%);
    }
  }

  &-right-icon {
    i {
      margin-left: 1rem;
      font-size  : larger;
    }
  }

  &-default {
    &:hover {
      background-color: lighten($green, 15%);
    }

    &:focus {
      background-color: $green;
    }
  }

  &-option {
    background-color: $grey;
    min-width       : 8rem;

    i {
      margin-right: 2rem;
    }

    &:hover {
      background-color: darken($grey, 15%)
    }
  }
}

@each $color,
$value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value);
  }
}

@each $color,
$value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}