// Breakpoints
@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

// Responsive type
@mixin fluid-type($scale) {
  font-size: calc(#{$font-size-base} * #{$scale} + #{$view-width});
}

// Color contrast
@function color-yiq($color, $dark: $yiq-text-dark, $light: $yiq-text-light) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >=$yiq-contrasted-threshold) {
    @return $dark;
  }

  @else {
    @return $light;
  }
}

// Button variants
@mixin button-variant($background) {
  background: $background;
  color     : color-yiq($background);

  &:hover {
    background-color: darken($background, 5%);
  }

  &:focus {
    background-color: darken($background, 10%);
    box-shadow      : 0 0 8px 2px lighten($background, 10%);
  }

  &:disabled {
    opacity: $btn-disabled-opacity;
  }
}

// Button outline variants
@mixin button-outline-variant($background) {
  border      : 1px solid $background;
  border-color: $background;
  color       : $background;

  &:hover {
    color           : color-yiq($background);
    background-color: $background;
  }

  &:focus {
    color           : color-yiq($background);
    background-color: darken($background, 10%);
    box-shadow      : 0 0 8px 2px lighten($background, 10%);
  }

  &:disabled {
    opacity: $btn-disabled-opacity;
  }
}